doctype html
html(ng-app='golan')
  head
    title Golan
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

  body
    .navbar.navbar-default
      .navbar-inner
        a.brand(href='/') Golan Forwarder
    .container-fluid(ng-controller='MainCtrl')
      h1 Hello World!
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')


